sudo: required
language: python
python:
    #- "2.7"
    - "3.5"
    - "3.6"

branches:
    only:
        - gh-pages
        - /.*/

cache:
    apt: true
    pip: true

services:
    - postgresql
    
addons:
  postgresql: "9.6"

env:
    - DB_PASSWORD=''

install:
    - pip install -r requirements.txt
    - pip install coveralls

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql travis_ci_test	< tests/pg_dump
  
script:
    - nosetests --with-coverage
    - coverage report --omit 'lib/*,tests/*' --show-missing
    - coverage report --omit 'lib/*,tests/*,apps/*' --show-missing

after_success:
    - coveralls
